* {
    margin:0;
    padding:0;
}

body {
    background-color: rgb(240, 240, 240);
}

main {
    text-align: center;
    background-color: white;
    width: 50%;
    margin: auto;
}

input {
    margin: 30px;
    width: 40%;
    height: 25px;
}