* {
    margin:0;
    padding:0;
}

body{
    background-color: rgb(242, 244, 248);
}

main {
    text-align: center;
    background-color: white;
    width: 50%;
    margin: auto;
}

h1 {
    padding: 50px;
}

input {
    width: 40%;
    height: 30px;
    margin: 10px;
}

input, label {
    margin: auto;
    display: block;
    position: relative;
}

label {
    padding: 8px;
}

button {
    background-color: #1E2628;
    color: white;
    width: 15%;
    height: 25px;
    border-width: 0px;
    margin: 20px;
}
