#reply {
    margin: 5px 0px;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
}

#info{
    display: flex;
    flex-direction: column;
}

.user {
    align-self: flex-start;
    margin: 10px 40px 0px 40px;
}

.date {
    margin: 0px 20px;
}

#options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#options button {
    margin: 5px 5px;
    background-color: #1E2628;
    color: white;
    width: 15%;
    height: 25px;
    border-width: 0px;
}
